[submodule "Carthage/Checkouts/CryptoSwift"]
	path = Carthage/Checkouts/CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
[submodule "Carthage/Checkouts/Alamofire"]
	path = Carthage/Checkouts/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "xcconfigs"]
	path = xcconfigs
	url = https://github.com/mrackwitz/xcconfigs.git
